html {
  font-family: Arial, Helvetica, sans-serif;
}


.cook-book {
  border: 2px black solid;
  border-radius: 5px;
  padding: 1rem;
  max-width: 400px;
	min-width: 200px;
	min-height: 200px;
  background: brown;
  color: white;
}

.inner-steps,
.inner-ingredients {
  background-color: white;
  border: 1px black solid;
  padding: 5px;
  color: black;
}